---
// Fundations
import BaseLayout from "@/layouts/LayoutEdizioni.astro";
import CtaEdizioni from "src/components/cta/CtaEdizioni.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

// Components
import EdizioniEntry from "@/components/edizioni/EdizioniEntry.astro";

// Content
import { getCollection } from "astro:content";

const allProducts = await getCollection("edizioni");

const pageTitle =
  "Stampe Fotografiche d’Autore | Edizioni | Elio Leonardo Carchidi";
const pageDescription =
  "Stampe fotografiche d’autore in tiratura limitata. Opere pensate per dialogare con lo spazio, la luce e il tempo, disponibili su richiesta.";
const canonical = "https://www.eliocarchidi.com/atelier/edizioni/";
const image = "https://www.eliocarchidi.com/og-image-stampe.jpg";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonical={canonical}
  image={image}
>
  <section>
    <Wrapper variant="standard" class="py-2">
      <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-24 gap-8">
        {allProducts.map((post) => (
          <EdizioniEntry post={post} basePath="edizioni" />
        ))}
      </div>

      <CtaEdizioni />
    </Wrapper>
  </section>
</BaseLayout>