---
import BaseLayout from "@/layouts/LayoutServizi.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "../components/fundations/elements/Text.astro";
import Galleria1 from "@/components/gallery/Galleria1.astro";
import { getCollection } from "astro:content";
import Button from "@/components/fundations/elements/Button.astro";

const galleries = (await getCollection("gallery"))
  .sort((a, b) => a.data.order - b.data.order);

const pageTitle = "Servizi Fotografici | Elio Leonardo Carchidi";
const pageDescription =
  "Ritratti, fine art e stampe d’autore costruiti attorno alla tua presenza e alla luce naturale. Tutti i servizi disponibili esclusivamente su appuntamento.";
const canonical = "https://www.eliocarchidi.com/servizi/";
const image = "https://www.eliocarchidi.com/og-image-servizi.jpg";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonical={canonical}
  image={image}
>
  <!-- HERO SERVIZI -->

  <!-- GALLERIA SERVIZI -->
  <section>
    <Wrapper variant="standard" class="py-2">
      <div class="mt-4 md:mt-16 grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
        {galleries.map((post) => (
          <Galleria1 post={post} />
        ))}
      </div>
    </Wrapper>
  </section>

  <!-- CTA FINALE -->
  <section>
    <div class="mt-25 md:mt-50 mb-16 md:mb-32 text-center max-w-lg m-auto">
      <Text
        tag="h1"
        variant="textLG"
        class="font-serif uppercase lg:order-none text-base-900 text-center"
      >
        <a class="hover:text-base-900 text-gallery-5" href="/">
          Tutti i servizi sono disponibili esclusivamente su appuntamento.
        </a>
        <br />
      </Text>

      <div class="mt-12 flex justify-center">
        <Button size="base" variant="default">
          <a class="hover:text-base-300 uppercase" href="/contatti/">
            Richiedi un appuntamento →
          </a>
        </Button>
      </div>
    </div>
  </section>
</BaseLayout>