---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { title, url, thumbnail, category } = {
  url: "/galleria/immagini/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  category: Astro.props.post.data.category,
  thumbnail: Astro.props.post.data.thumbnail.url,
};
---

<figure class="relative">
  
    href={url}
    aria-label={`See more of: ${title}`}
    class="absolute inset-0 z-10"
  >
    <span class="sr-only">{title}</span>
    <span class="sr-only">{category}</span>
  </a>
  <img
    src={thumbnail}
    alt={title}
    class="object-cover w-full h-auto"
  />
  <figcaption class="sr-only">
    {title} — Category: {category}
  </figcaption>
</figure>