---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { title, url, thumbnail, category } = {
  url: "/galleria/immagini/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  category: Astro.props.post.data.category,
  thumbnail: Astro.props.post.data.thumbnail.url,
};
---

<article class="relative">
  
    href={url}
    title={title}
    aria-label={`See more of: ${title}`}
    class="absolute inset-0 z-10"
  >
  </a>

  <Text tag="h3" variant="textBase" class="font-medium text-base-900"
    >{title}</Text
  >
  <Text tag="p" variant="textSM" class="text-base-900">{category}</Text>
  <img
    src={thumbnail}
    alt={title}
    class="object-cover object-center w-full pt-4 mt-4 border-t aspect-12/12 border-base-200"
  />
</article>