---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout hideBigLogo={true} hideNavigation={true}>
  <section>
    <Wrapper variant="standard" class="pt-2">
      <div class="max-w-xl mx-auto text-center text-base-900">
        <Text
          tag="a"
          href="/" 
          variant="textXS"
          class="inline-flex items-center gap-1 hover:text-gray-600 transition-colors"
        >
          &larr; Torna alla Home
        </Text>
        
        <Text
          tag="p"
          variant="textXL"
          class="font-light mt-4 font-serif uppercase leading-6"
        >
          <span class="block opacity-50">{frontmatter.name}</span>
          <span class="block">{frontmatter.role}</span>
        </Text>

        <Image
          alt={frontmatter.image.alt}
          src={frontmatter.image.url}
          width={800}
          height={800}
          loading="eager" 
          decoding="async"
          class="object-cover w-full aspect-square mt-8 rounded-sm"
        />

        <div class="mt-8 space-y-4 text-left">
          {
            frontmatter.bio.split("\n").map((paragraph) => (
              <Text
                tag="p"
                variant="textSM"
                class="text-base-900 leading-6 font-serif uppercase"
              >
                {paragraph}
              </Text>
            ))
          }
        </div>

        <div class="mt-12 flex justify-center">
          <a href="/sessioni-private/" class="inline-block rounded-md bg-gray-900 hover:bg-gray-800 text-white font-medium px-8 py-4 transition shadow-lg">
            Prenota la tua sessione di ritratto
          </a>
        </div>

        <div class="mt-16 flex justify-center gap-6 pb-12">
          <a href={frontmatter.socials.linkedin} class="text-xs uppercase tracking-widest hover:underline">Linkedin</a>
          <a href={frontmatter.socials.email} class="text-xs uppercase tracking-widest hover:underline">Email</a>
          <a href={frontmatter.socials.website} class="text-xs uppercase tracking-widest hover:underline">Sito Web</a>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>